BODY {
  overflow: auto !important;
  height: auto !important;
  padding: 0.5em !important;
}

.login { 
  display: none !important; 
}

.header {
  position: static !important;
  border-bottom: solid 1px #C0C0C0;
  padding: 0 !important;
  margin-bottom: 1em !important;
}

.page {
  position: static !important;
  padding: 0 !important;
}

DIV.syntax > P:last-child {
  margin-bottom: 0.5em !important;
}

H1 {
  display: block !important;
  font-size: 1.5rem !important;
  margin-top: 0 !important;
  /*margin-bottom: 0 !important;*/
}

U A {
  text-decoration: underline !important;
}